---
import Layout from "/src/components/layout/index.astro";
import FocalLight from "/src/components/FocalLight.astro";

import bgHero from "/src/assets/bg-hero.svg";
import player2 from "/src/assets/player2.png";
import player1 from "/src/assets/player1.png";
import Pricing_component from "../components/sections/Pricing/index.astro";
import CoachingPath from "/src/components/sections/home/CoachingPath.astro";

const banner = [
    { n: 20, title: "Estudiantes exitosos" },
    { n: 21, title: "Años de experiencia" },
    { n: 30, title: "Usuarios totales" },
];

const offert = [
    {
        title: "Explicaciones personalizadas",
        text: "Recibe explicaciones detalladas y personalizadas adaptadas a tus necesidades específicas.",
    },
    {
        title: "Videos de coaching personalilizados",
        text: "Accede a videos de coaching hechos a medida para mejorar tus habilidades en el fútbol.",
    },
    {
        title: "Atención al instante",
        text: "Obtén respuestas rápidas y soporte continuo de nuestros entrenadores profesionales.",
    },
    {
        title: "Renovación de coaching",
        text: "Actualiza y ajusta tus rutinas con la ayuda de nuestros expertos, asegurando un progreso constante.",
    },
];
---

<Layout title="home page">
    <section
        class="relative min-h-[50vh] md:min-h-[80vh] w-full text-center flex items-center justify-around"
    >
        <div class="z-20 flex flex-col justify-around gap-7 items-center">
            <div>
                <h1
                    class="text-[45px] lg:text-[62px] xl:text-[112px] font-bebas leading-none"
                >
                    Conviértete en <br class="md:hidden" /> un <br
                        class="hidden md:flex"
                    /> mejor atleta
                </h1>
                <p class="md:text-[32px] xl:text-[36px]">
                    Lleva tu juego al siguiente <br /> nivel y alcanza tus objetivos.
                </p>
            </div>

            <a href="/#planes" class="bg-primary p-2.5 rounded-lg md:text-3xl"
                >Comenzar ahora</a
            >
        </div>

        <div class="absolute top-20 grid place-content-center">
            <FocalLight />
        </div>

        <div
            class="z-10 absolute bottom-0 md:bottom-[-10%] h-[50%] md:h-[60%] lg:h-[80%] xl:h-[90%] w-full"
        >
            <img
                src={bgHero.src}
                alt=""
                class="w-full h-[150%] absolute -bottom-[40%]"
            />

            <img
                src={player2.src}
                alt=""
                class="w-auto h-full absolute left-0 -bottom-14
                animate-slide-in-left"
            />

            <img
                src={player1.src}
                alt=""
                class="w-auto h-[120%] absolute right-0 -bottom-14
                animate-slide-in-left delay-1000"
            />
        </div>
    </section>

    <!-- ofecemos -->
    <section class="bg-white min-h-screen py-32 md:pt-44 text-black">
        <div
            class="container text-center flex flex-col md:gap-4 w-auto items-center px-[10%]"
        >
            <h2
                class="text-primary font-black text-[28px] md:text-7xl text-nowrap w-full"
            >
                Pasos de coaching
            </h2>
            <h4 class="md:text-4xl w-[60%]">
                Subtitulo para indicar alguna información de interés
            </h4>
        </div>

        <CoachingPath />

        <div class="mb-16 md:my-32 container px-[5%] text-white">
            <div
                class="bg-primary w-full rounded-2xl md:rounded-[3.8rem] flex justify-around
                p-5 py-3.5 md:py-10 lg:py-16 lx:py-24"
            >
                {
                    banner.map((e) => (
                        <div class="flex flex-col items-center">
                            <span
                                class="
                            text-[62px] sm:text-[90px] md:text-[120px] lg:text-[180px] xl:text-[200px]
                             leading-none font-black"
                            >
                                {e.n}
                            </span>
                            <p class="text-[9px] sm:text-base md:text-xl lg:text-2xl xl:text-3xl">
                                {e.title}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>

        <div
            class="flex flex-col xl:flex-row container px-[10%] gap-9 lg:gap-[3.5rem]"
        >
            <div
                class="flex flex-col items-center xl:items-start justify-center gap-5 flex-1"
            >
                <h2
                    class="font-bebas text-6xl text-center font-medium leading-none lg:text-[6rem]"
                >
                    Que ofrecemos?
                </h2>
                <p class="text-xs lg:text-2xl font-medium">
                    Descubre cómo nuestros servicios personalizados pueden
                    ayudarte a alcanzar tus metas futbolísticas.
                </p>

                <button
                    class="bg-primary p-[5px] px-2.5 lg:p-2.5 lg:px-4 rounded-lg text-white lg:text-3xl"
                    >Comenzar ahora</button
                >
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 flex-1">
                {
                    offert.map((e) => (
                        <div class="rounded-2xl border border-white-300 p-4 flex flex-col items-center justify-center gap-3 text-center">
                            <h4 class="text-2xl font-bold">
                                {e.title}
                            </h4>
                            <p>
                                {e.text}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
    <!-- ofecemos -->
    <Pricing_component />
    <!-- Video -->
    <section class="py-16 md:py-32 px-[5%] container">
        <div
            class="container pb-10 flex justify-center flex-col items-center text-center"
        >
            <h2 class="font-bebas text-3xl md:text-8xl">
                TE DEMOSTRAMOS COMO SER EL MEJOR
            </h2>
            <span class="text-[10px] md:text-xl"
                >Comparte acceso y facilidad de uso mediante canales de
                comunicación empresariales.</span
            >
        </div>

        <div class="aspect-video">
            <!-- <video class="rounded-xl w-full h-auto" src={"https://www.youtube.com/watch?v=eaRQF-7hhmo&pp=ygUOZ3ltIG1vdGl2YXRpb24%3D"} > -->
            <iframe
                class="rounded-xl"
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/eaRQF-7hhmo"
            >
            </iframe>
        </div>
    </section>
    <!-- Video -->
</Layout>
