---

import StepPath from "./StepPath.astro";
import pathSvg from "/src/assets/home-path.svg";

const stepPaths = [
    { top: 35, left: 3, reverse: false },
    { top: -15, left: 22, reverse: true },
    { top: 5, left: 42, reverse: false },
    { top: -29, left: 63, reverse: true },
    { top: 5, left: 80, reverse: false },
];
---

<style>
    #sliderDragable{
     
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#sliderDragable::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
</style>

<div
    id="sliderDragable"
    class="flex w-full overflow-y-scroll overflow-scroll sm:overflow-auto"
>
    <div id="StepPath" class="mx-auto">
        <div
            style={`background-image: url('${pathSvg.src}');`}
            class:list={[
                "flex-shrink-0 my-40 overflow-visible flex relative  aspect-[5/1] bg-cover  w-[1717px]",
                "bg-no-repeat bg-center",
            ]}
        >
            {
                stepPaths.map((e, k) => (
                    <StepPath
                        step={k}
                        top={e.top}
                        left={e.left}
                        reverse={e.reverse}
                    />
                ))
            }
        </div>
    </div>

    <script>
        // import { slide } from "astro:transitions";

        const slider = document.getElementById("sliderDragable");

        let lastCursorX = 0
        let cursorX = 0;
        let isPressed = false;
        if (slider) {
            slider.addEventListener("mousedown", (e) => {
                isPressed = true;
                cursorX = e.offsetX;
                lastCursorX = cursorX
                slider.style.cursor = "grabbing";
            });
            slider.addEventListener("mouseup", () => {
                slider.style.cursor = "grab";
                setTimeout(()=>{
                    slider.style.cursor = "auto";
                }, 200)
            });

            window.addEventListener("mouseup", () => {
                isPressed = false;
            });
            slider.addEventListener("mousemove", (e) => {
                if (!isPressed) return;
                e.preventDefault();
                slider.scrollLeft = cursorX - e.pageX;  
            });
        }
    </script>
</div>
